[Unit]
Description=Terra Daemon
After=network.target

[Service]
Type=simple
User=$USER
ExecStart=/home/$USER/go/bin/terrad start
Restart=on-failure
RestartSec=5s
LimitNOFILE=65537
Nice=-20
IOSchedulingPriority=0
IOSchedulingClass=realtime

[Install]
WantedBy=multi-user.target
